<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet"  href="{% static 'css/register.css' %}">
</head>
<body>
    <div id="register-wrapper">
        <h2>🖤Register Page🖤</h2>
        <div id="register-inner-wrapper">
            <div>
                <label for="name">
                    이름: <input type="text" id="name" placeholder="이름을 입력하세요.">
                </label>
            </div>
                <div>
                    <label for="email">
                    이메일: <input type="email" id="email" placeholder="이메일을 입력하세요.">
                </label>
                </div>

            <div id="introduction-wrapper">
                <label for="introduction">
                    자기소개: <textarea id="introduction" rows="2" cols="30" placeholder="간단한 자기소개를 입력하세요."></textarea>
                </label>
            </div>
        </div>
        <button id="register-button">등록</button>
    </div>
    <script src="{% static 'js/register.js' %}"></script>
</body>
</html>